* {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f4248;
}

body {
    padding: 10px;
    background-color: gray;
}

h1,
h2 {
    color: #1f2326;
}

h1,
li {
    display: inline;
}

.avatar {
    margin-top: 10px;
    background-color: #1f2326;
}

img {
    position: relative;
    left: 600px;
}

.name {
    font-size: x-large;
    background-color: #1f4248;
}

.card {
    margin-top: 10px;
}