* {
    font-family: Arial, Helvetica, sans-serif; /* multiple web safe fonts in case one or two do not work */
    color: #1f4248;
    line-height: 50px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: darkgray;
}

h1 {
    padding: 5px;
    font-size: x-large;
    background-color: #336d77;
}

h1,
h2 {
    color: #1f2326;
}

h1,
nav,
ul,
li {
    display: inline;
}

nav ul {
    float: right;
}

.avatar {
    margin-top: 10px;
    background-color: #1f2326;
}

.card1 {
    position: relative;
    border: solid 5px #336d77;
    margin: 20px;
    width: 400px;
    height: 200;
}

.tag1 {
    position: absolute;
    top: 125px;
    left: 0px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #336d77;
    font-size: small;
    z-index: 100;
  }

#project-image1 {
    display: block;
    height: 100%;
    width: 100%; 
}

.card2,
.card3,
.card4,
.card5 {
    position: relative;
    border: solid 5px #336d77;
    margin: 20px;
    width: 200px;
    height: 105px;
}

/* z-index created two layers so hover effect is not applied on border and tags */
.tag2,
.tag3,
.tag4,
.tag5 {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #336d77;
    font-size: small;
    z-index: 100;
}

#project-image2,
#project-image3,
#project-image4,
#project-image5 {
      display: inline;
      height: 100%;
      width: 100%; 
}

/* Opacity degree changes how dark or light the hover effect is */
.project1image:hover,
.project2image:hover,
.project3image:hover,
.project4image:hover,
.project5image:hover {
    opacity: 30%;
}

.work-images {
    display: flex;
}

/* Ued media query to support responsive layout to be viewd in different screens and devices. Used "block" in media query to reverse "flex" in line 112 */
@media screen and (max-width: 992px) {
    .work-images {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .work-images {
        display: block;
    }
}
  
@media screen and (max-width: 576px) {
    .work-images {
        display: block;
    }
}