* {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f4248;
    line-height: 50px;
}

body {
    padding: 10px;
    background-color: lightgray;
}

h1 {
    padding: 5px;
    font-size: x-large;
    background-color: #336d77;
}

h1,
h2 {
    color: #1f2326;
}

h1,
nav,
ul,
li {
    display: inline;
}

.avatar {
    margin-top: 10px;
    background-color: #1f2326;
}

img {
    position: relative;
    left: 600px;
}

.card {
    margin-top: 10px;
}

.container {
    text-align: center;
    height: 300px;
    width: 400px;
}

.project1 {
    display: block;
    border: solid 5px #336d77;
    margin: 20px;
}

.project1image:hover {
    background-color:white;
    opacity: 50%;
}

.project2,
.project3 {
    display: inline;
    border: solid 5px #336d77;
    margin: 10px;
    padding: 20px;
  }
  
.project2 {
    background-image: url(*);
}

.project3 {
    background-image: url(*);
}